{% extends 'core/base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

{% endblock css %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script> 

{% endblock javascript %}

{% block contenido %}
<div id="principal">
        <br>
        <div class="contenedor_formulario">
            <div>
                
                <div class="galeria">

                   
                        
                        
                    </a>
                    <a   data-fancybox="gallery" href="{% static 'core/img/descuento.jpg' %}">
                        <img src="{% static 'core/img/descuento.jpg' %}" alt="caratula 2">
                        
                        
                    </a>
                    

                    <a data-fancybox="gallery" href="{% static 'core/img/portada2.jpg' %}">
                        <img src="{% static 'core/img/portada2.jpg' %}" alt="caratula 3">
                        
                    </a>
                    <a   data-fancybox="gallery" href="{% static 'core/img/descuento2.jpg' %}">
                        <img src="{% static 'core/img/descuento2.jpg' %}" alt="caratula 4">
                        
                        
                    </a>

                    

                   

                    

                </div>

            </div>
           
        </div>

    </div>
{% endblock contenido %}