{% extends "core/base.html" %}

{% block contenido %}
<h2>Listado de Clientes</h2>

<table border="5" >
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Comuna</th>
        <th>Dirección</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Fecha</th>
        <th>Opciones</th>
    </tr>

    {% for a in personas %}

    <tr>
        <td>{{ a.nombre }}</td>
        <td>{{ a.apellido }}</td>
        <td>{{ a.comuna.nombreC }}</td>
        <td>{{ a.direccion }}</td>
        <td>{{ a.correo }}</td>
        <td>{{ a.celular }}</td>
        <td>{{ a.fecha }}</td>
        <td>
            <a href="{% url 'eliminar_usuario' a.id %}">Eliminar</a>
            <a href="{% url 'modificar_usuario' a.id %}">Modificar</a>

        </td>
        


    </tr>

    {% endfor %}



</table>

{% if messages %}

    {% for m in messages  %}
    
    <div> {{ m }}</div>
    
    {% endfor %}
{% endif %}


{% endblock contenido %}
